BASE_URL=your url

KROGER_CLIENT_ID=Your keys if needed
KROGER_CLIENT_SECRET=Your keys if needed
KROGER_TOKEN_URL=Your url if needed
SPOONACULAR_URL=Your url if needed
SPOONACULAR_API_KEY=Your keys if needed

MONGO_URL=Your mongoDB

# Very important number from the file
DATA_SOURCE=