MONGO_URL=
MONGO_DB_NAME=
MONGO_COLLECTION_NAME=


KROGER_API_BASE_URL=https://api.kroger.com/v1/
KROGER_API_TOKEN_URL=https://api.kroger.com/v1/connect/oauth2/token
KROGER_API_CLIENT_ID=
KROGER_API_CLIENT_SECRET=
KROGER_API_LOCATION_ID=store's ID in the Kroger network

SPOONACULAR_API_BASE_URL=https://api.spoonacular.com/
SPOONACULAR_API_KEYS=your key,your extra key (if there are several keys, then the keys are separated by commas)